@import "@episerver/ui-framework/dist/scss/_variables";

.review-location {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 11px;
    cursor: pointer;
    user-select: none;

    &.highlighted,
    &:hover {
        -webkit-filter: drop-shadow(0px 0px 7px $surface800);
        filter: drop-shadow(0px 0px 7px $surface800);
    }

    circle {
        fill: $error500;
        stroke: $surface800
    }

    &.done {
        circle {
            fill: $surface700;
        }
    }

    &.new {
        circle {
            fill: $success500;
        }
    }

    .priority-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: $surface500;
        position: absolute;
        top: 4px;
        left: 4px;
    }
}
