## Repository specific files

App_Code/
App_Data/

License.config

## Ignore Visual Studio temporary files and build results.

# User-specific files
*.user

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages
[Pp]ackages/

.idea/
.vscode

node_modules/

*.nupkg
advanced-cms-approval-reviews.zip
advanced-cms-external-reviews.zip

dist/
out/

src/Advanced.CMS.ApprovalReviews/ClientResources/ReviewWidget.js
src/Advanced.CMS.ApprovalReviews/ClientResources/ReviewWidget.js.map
src/Advanced.CMS.ApprovalReviews/ClientResources/report.html
src/Advanced.CMS.ApprovalReviews/ClientResources/adminPlugin.js
src/Advanced.CMS.ApprovalReviews/ClientResources/adminPlugin.css
src/Advanced.CMS.ApprovalReviews/ClientResources/adminPlugin.js.map
src/Advanced.CMS.ApprovalReviews/ClientResources/external-review-manage-links-component.js
src/Advanced.CMS.ApprovalReviews/ClientResources/external-review-manage-links-component.js.map
src/Advanced.CMS.ExternalReviews/ClientResources/external-review-component.js
src/Advanced.CMS.ExternalReviews/ClientResources/external-review-component.js.map

