## Repository specific files

App_Code/
App_Data/

License.config

## Ignore Visual Studio temporary files and build results.

# User-specific files
*.user

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages
[Pp]ackages/

.idea/
.vscode

node_modules/

*.nupkg
episerver-addons.Reviews.zip
episerver-addons.ExternalReviews.zip

reviewComponent.bundle.js
src/alloy/modules/_protected/episerver-addons.Reviews/1.0.0/Scripts/ReviewWidget.js
src/alloy/modules/_protected/episerver-addons.Reviews/1.0.0/Scripts/ReviewWidget.js.map
src/alloy/modules/_protected/episerver-addons.Reviews/1.0.0/Scripts/report.html
src/alloy/modules/_protected/episerver-addons.Reviews/Views/admin/adminPlugin.js
src/alloy/modules/_protected/episerver-addons.Reviews/Views/admin/adminPlugin.js.map
src/alloy/modules/_protected/episerver-addons.ExternalReviews/1.0.0/Scripts/external-review-manage-links-component.js
src/alloy/modules/_protected/episerver-addons.ExternalReviews/1.0.0/Scripts/external-review-manage-links-component.js.map
src/alloy/modules/_protected/episerver-addons.ExternalReviews/Views/external-review-component.js
src/alloy/modules/_protected/episerver-addons.ExternalReviews/Views/external-review-component.js.map
