## Repository specific files

App_Code/
App_Data/

License.config

## Ignore Visual Studio temporary files and build results.

# User-specific files
*.user

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages
[Pp]ackages/

.idea/
.vscode

node_modules/

*.nupkg
advanced-cms-approval-reviewss.zip
advanced-cms-external-reviews.zip

dist/
out/

reviewComponent.bundle.js
src/approval-reviews/ClientResources/ReviewWidget.js
src/approval-reviews/ClientResources/ReviewWidget.js.map
src/approval-reviews/ClientResources/report.html
src/approval-reviews/ClientResources/adminPlugin.js
src/approval-reviews/ClientResources/adminPlugin.js.map
src/external-reviews/ClientResources/external-review-manage-links-component.js
src/external-reviews/ClientResources/external-review-manage-links-component.js.map
src/external-reviews/ClientResources/external-review-component.js
src/external-reviews/ClientResources/external-review-component.js.map
