<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
	<add key="globalPackagesFolder" value=".\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="episerver" value="https://nuget.episerver.com/feed/packages.svc/" />
    <add key="episerver-beta" value="https://pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/beta-program/nuget/v3/index.json" />
  </packageSources>
</configuration>
