.reviewLocation {
    position: absolute;
    box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 11px;
    cursor: pointer;
    user-select: none;

    circle {
        fill: #F7542B;
        stroke: #555;
    }

    &.done {
        circle {
            fill: gray;
        }
    }

    &.new {
        circle {
            fill: green;
        }
    }

    .point:hover {
        -webkit-filter: drop-shadow( 0px 0px 7px #555);
        filter: drop-shadow( 0px 0px 7px #555);
        
    }

    .priority-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: #c0c0c0;
        position: absolute;
        top: 4px;
        left: 4px;
    }
}