<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0"
        type="AdvancedExternalReviews.AdvancedApprovalModule, AdvancedExternalReviews" >

  <assemblies>
    <add assembly="AdvancedExternalReviews" />
  </assemblies>

  <clientModule initializer="advanced-cms-external-review.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-external-review" path="Scripts" />
    </paths>
  </dojo>
</module>
