@using EPiServer.Web.Mvc.Html
@model TestSite.Models.EditorialBlock

<div class="clearfix" @Html.EditAttributes(x => x.MainBody)>
    @Html.DisplayFor(x => Model.MainBody)
</div>

<div id="nested">
    @Html.PropertyFor(x => x.NestedContentArea)
</div>
