@import "@material/switch/mixins";

$border: 1px solid #c0c0c0;

.panel-container-settings {
    position: absolute;
    z-index: 705;
    border: $border;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 500px;

    &.narrow {
        right: 70px;
    }
}

.panel-container {
    z-index: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    width: 480px;
    overflow-y: auto;
    border-left: $border;
    border-bottom: $border;
    padding: 10px;

    &.narrow {
        width: 50px;
        height: 100px;

        &.review-mode {
            height: 190px;
        }

        .filter {
            margin: 5px;
        }

        .type-filters {
            border: 0;
        }

        .unread {
            .mdc-checkbox {
                --mdc-theme-secondary: green;
            }
        }

        .active {
            .mdc-checkbox {
                --mdc-theme-secondary: red;
            }
        }

        .resolved {
            .mdc-checkbox {
                --mdc-theme-secondary: gray;
            }
        }
    }

    .filter {
        margin: 10px;

        label {
            margin-left: 10px;
        }
    }

    .type-filters {
        border-top: $border;

        .unread {
            .mdc-switch {
                --mdc-theme-secondary: green;
            }

            label {
                color: green;
            }
        }

        .active {
            .mdc-switch {
                --mdc-theme-secondary: red;
            }

            label {
                color: red;
            }
        }

        .resolved {
            .mdc-switch {
                --mdc-theme-secondary: gray;
            }

            label {
                color: gray;
            }
        }
    }

    .type-filter {
        div {
            display: table;

            span {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .locations {
        border-top: $border;
        max-height: 600px;

        .mdc-list-item {
            cursor: pointer;
            padding: 20px 0;
        }

        .delete,
        .edit {
            display: none;
            position: absolute;
        }

        .edit {
            right: 2px;
        }

        .delete {
            right: 32px;
        }

        li:hover .edit,
        li:hover .delete {
            display: block;
        }
    }

    .close-panel {
        position: absolute;
        right: 0;
    }

    .panel-header {
        height: 40px;
        border-bottom: $border;
        display: flex;

        .pin-navigator {
            margin-top: -3px;
            margin-left: auto;
        }

        label {
            line-height: 40px;
        }
    }

    .property-name-label {
        background-color: #f7542b;
        color: #fff;
        margin-left: 8px;

        .mdc-chip__icon--leading {
            color: #fff;
        }

        .mdc-chip__text {
            max-width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
