@import "@episerver/ui-framework/dist/scss/_variables";
@import "@material/switch/mixins";
@import "@material/react-switch/index";
@import "@material/react-chips/index";

$border: 1px solid $surface500;

.panel-container-settings {
    position: absolute;
    z-index: 705;
    border: $border;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 510px;

    &.narrow {
        right: 80px;
    }
}

@mixin colored-switch($color) {
    @media all and (-ms-high-contrast: none) {
        .mdc-switch.mdc-switch--checked .mdc-switch__thumb,
        .mdc-switch.mdc-switch--checked .mdc-switch__track {
            background-color: $color;
            border-color: $color;
        }
    }

    .mdc-switch {
        --mdc-theme-secondary: #{$color};
    }

    label {
        color: #{$color};
    }
}

@mixin colored-checkbox($color) {
    @media all and (-ms-high-contrast: none) {
        :enabled:checked.mdc-checkbox__native-control ~ .mdc-checkbox__background {
            background-color: $color;
            border-color: $color;
        }
    }

    .mdc-checkbox {
        --mdc-theme-secondary: #{$color};
    }
}

.panel-container {
    z-index: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    background: white;
    width: 480px;
    overflow-y: auto;
    border-left: $border;
    border-bottom: $border;
    padding: 10px;

    &.narrow {
        width: 50px;
        height: 100px;

        &.review-mode {
            height: 190px;
        }

        .filter {
            margin: 5px;
        }

        .type-filters {
            border: 0;
        }

        .unread {
            @include colored-checkbox(#4caf50);
        }

        .active {
            @include colored-checkbox(#f44336);
        }

        .resolved {
            @include colored-checkbox(#818181);
        }
    }

    .filter {
        margin: 10px;

        label {
            margin-left: 10px;
        }
    }

    .type-filters {
        border-top: $border;

        .unread {
            @include colored-switch($success500);
        }

        .active {
            @include colored-switch(#f44336);
        }

        .resolved {
            @include colored-switch(#818181);
        }
    }

    .type-filter {
        div {
            display: table;

            span {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .locations {
        border-top: $border;
        max-height: calc(100% - 220px);
        overflow-y: auto;

        .mdc-list-item {
            cursor: pointer;
            padding: 20px 0;
        }

        .delete,
        .edit {
            display: none;
            position: absolute;
        }

        .edit {
            right: 2px;
        }

        .delete {
            right: 32px;
        }

        li:hover .edit,
        li:hover .delete {
            display: block;
        }
    }

    .close-panel {
        position: absolute;
        right: 0;
    }

    .panel-header {
        height: 40px;
        border-bottom: $border;
        display: flex;

        .pin-navigator {
            margin-top: -3px;
            margin-left: auto;
        }

        label {
            line-height: 40px;
        }
    }

    .property-name-label {
        background-color: $secondary700;
        color: $surface50;
        margin-left: 8px;

        .mdc-chip__icon--leading {
            color: $surface50;
        }

        .mdc-chip__text {
            max-width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
