@import "@material/switch/mixins";

.panel-toggle {
    position: absolute;
    right: 2px;
    top: 2px;
}

.panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    min-width: 350px;
    border-left: 1px solid #c0c0c0;

    .filter {
        margin: 10px;

        label {
            margin-left: 10px;
        }
    }

    .main-filter, .type-filters {
        border-bottom: 1px solid #c0c0c0;

        .unread {
            .mdc-switch {
                --mdc-theme-secondary: green;
            }

            label {
                color: green;
            }
        }

        .active {
            .mdc-switch {
                --mdc-theme-secondary: red;
            }

            label {
                color: red;
            }
        }

        .resolved {
            .mdc-switch {
                --mdc-theme-secondary: gray;
            }

            label {
                color: gray;
            }
        }
    }

    .type-filter {
        div {
            display: table;

            span {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .close-panel {
        float: right;
    }

    .locations {
        .edit {
            display: none;
            position: absolute;
            right: 2px;
        }

        li:hover .edit {
            display: block;
        }
    }
}
