$primary500: #1456f1;
$secondary700: #a33727;
$surface50: #ffffff;
$surface500: #c2c2c2;
$surface600: #979797;
$surface700: #818181;
$surface800: #606060;
$success500: #4caf50;
$reminder500: #ffeb3b;
$error500: #f44336;
$mdc-theme-primary: $primary500;
