@import "@material/react-material-icon/index";

.pin-navigator {
    .next-prev-icon {
        padding: 0;
        height: 32px;
        width: 32px;

        &:before,
        &:after {
            background-color: transparent;
        }
    }

    .pager {
        line-height: 50px;
    }
}
