@using EPiServer.Web.Mvc.Html
@model TestSite.Models.StartPage

<!DOCTYPE html>
<html lang="@(Model.Language)">
<head>
    <meta charset="utf-8" />
    <title>@Model.MetaTitle</title>
</head>
<body>
    <h1>@Html.PropertyFor(x => x.Name)</h1>
    @Html.PropertyFor(x => x.MainContentArea)
</body>
</html>
