@import "@material/switch/mixins";

.panel-container {
    .filter {
        margin: 10px;

        label {
            margin-left: 10px;
        }
    }

    .main-filter,
    .type-filters {
        border-bottom: 1px solid #c0c0c0;

        .unread {
            .mdc-switch {
                --mdc-theme-secondary: green;
            }

            label {
                color: green;
            }
        }

        .active {
            .mdc-switch {
                --mdc-theme-secondary: red;
            }

            label {
                color: red;
            }
        }

        .resolved {
            .mdc-switch {
                --mdc-theme-secondary: gray;
            }

            label {
                color: gray;
            }
        }
    }

    .type-filter {
        div {
            display: table;

            span {
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    .locations {
        max-height: 600px;

        .edit {
            display: none;
            position: absolute;
            right: 2px;
        }

        li:hover .edit {
            display: block;
        }
    }
}
