@import "react-image-crop/lib/ReactCrop";

.mdc-dialog {
    //TODO: increase the size of this dialog?

    &.screenshot-picker-dialog {
        z-index: 800;

        .screenshot-picker {
            .screenshot-cropper {
                width: 560px;
            }
        }
    }
}
