<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath=""
        type="Advanced.CMS.ExternalReviews.AdvancedApprovalModule, Advanced.CMS.ExternalReviews" >

  <assemblies>
    <add assembly="Advanced.CMS.ExternalReviews" />
  </assemblies>

  <clientModule initializer="advanced-cms-external-reviews.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-external-reviews" path="ClientResources" />
    </paths>
  </dojo>
</module>
