@import "@episerver/ui-framework/dist/scss/_variables";

.comment {
    &:after {
        content: "";
        clear: both;
        display: table;
    }

    .avatar,
    .message {
        float: left;
    }

    .avatar {
        padding-right: 10px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .message {
        max-width: 380px;

        .author {
            font-weight: bold;
            font-size: 0.9rem;
            margin-right: 10px;
            float: left;
            text-overflow: ellipsis;
            max-width: 220px;
            white-space: nowrap;
            overflow: hidden;
        }

        .date {
            font-style: italic;
            font-size: 0.7rem;
            color: $surface800;
            float: left;
        }

        .screenshot {
            display: inline-block;
            cursor: pointer;
            margin-left: 5px;
        }

        p {
            clear: both;
            padding: 0;
            margin: 0 0 10px 0;

            &.amplify {
                font-weight: bolder;
            }

            &.done {
                text-decoration: line-through;
            }
        }
    }
}
