@import "@material/react-dialog/index";
@import "@material/react-material-icon/index";
@import "@material/react-floating-label/index";


.share-dialog-content {
    width: 550px;

    .text-field-container {
        margin-bottom: 10px;
    }
}
