@import "@episerver/ui-framework/dist/scss/_variables";

.external-reviews-list {
    height: calc(100% - 70px);
    overflow-y: scroll;

    .list-item {
        padding: 0 8px;
        font-size: 0.75rem;
        height: 55px;

        .mdc-list-item__secondary-text {
            font-size: 0.7rem;
        }

        .mdc-list-item__graphic {
            margin-right: 8px;
        }

        .item-inactive {
            color: $surface700;
            font-style: italic;
        }

        a {
            color: $mdc-theme-primary;
            cursor: pointer;
        }

        .item-action {
            display: none;
        }

        &:hover .item-action {
            display: inline-block;
        }
    }
}

.empty-list {
    font-style: italic;
    color: $surface700;
    height: calc(100% - 50px);

    > span {
        display: block;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
