@import "@episerver/ui-framework/dist/scss/_variables";

.external-reviews-list {
    height: calc(100% - 70px);
    overflow-y: scroll;

    .list-item {
        padding: 0 8px;
        font-size: 0.75rem;
        height: 55px;

        .mdc-list-item__secondary-text {
            font-size: 0.7rem;
        }

        .mdc-list-item__graphic {
            margin-right: 8px;
        }

        .item-inactive {
            color: $surface700;
            font-style: italic;
        }

        a {
            color: $mdc-theme-primary;
            cursor: pointer;
        }

        .item-action {
            display: none;
        }

        .link-secured {
            font-size: 16px;
            color: #555;
            position: absolute;
            right: 5px;
            bottom: 5px;
        }

        &:hover {
            .item-action {
                display: inline-block;
            }

            .link-secured {
                display: none;
            }
        }
    }
}

.empty-list {
    font-style: italic;
    color: $surface700;
    height: calc(100% - 50px);

    > span {
        display: block;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.external-link-edit-dialog {
    width: 400px;

    .checkbox-label {
        line-height: 40px;
        display: inline-block;
    }

    .field-group {
        padding-bottom: 16px;

        &.prolong {
            height: 36px;

            > span {
                float: left;
                font-size: 14px;
                line-height: 36px;
            }
        }
    }
}
