modules/_protected/CMS/**
modules/_protected/EPiServer.Cms.TinyMce/**
modules/_protected/EPiServer.Cms.UI.Admin/**
modules/_protected/EPiServer.Cms.UI.Settings/**
modules/_protected/EPiServer.Cms.UI.VisitorGroups/**
modules/_protected/episerver-telemetry-ui/**
modules/_protected/Shell/**
wwwroot/js/script.min.js
wwwroot/css/css.min.css