.review-dialog {
    z-index: 750;

    .mdc-dialog__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.25rem;
        line-height: 1rem;
    }

    textarea {
        resize: none;
        min-height: auto;
    }

    .mdc-icon-button::before, .mdc-icon-button::after {
        background-color: blue;
    }

    .menu-button.mdc-icon-button {
        padding: 8px 4px 4px 4px;
        width: 40px;
        height: 40px;
    }

    .review-actions {
        display: flex;
        position: relative;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

        &.left-align {
            justify-content: flex-start;
        }
    }

    .dialog-grid {
        width: 500px;
        height: 600px;
    }

    .comments-list {
        margin: 10px 0;
        max-height: 390px;
        overflow-y: auto;
    }

    &.new {
        .dialog-grid {
            height: 200px;
        }   
    }
}
