@using AlloyTemplates
@model PageViewModel<AlloyTemplates.Models.Pages.StartPage>

@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })

<div>ContentArea ContentItems</div>
@Html.Raw(Model.CurrentPage.ConcatenateItems())
<div>With Review items</div>
<br />
<div>With GetChildren</div>
@Html.Raw(Model.CurrentPage.ConcatenateChildren())

<br />
<div>With Review items</div>
@Html.Raw(Model.CurrentPage.ConcatenateChildrenWithReviews())
