@import "@material/react-dialog/index";

.mdc-dialog {
    &.review-dialog {
        z-index: 750;

        .mdc-dialog__title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.25rem;
            line-height: 1rem;
            padding: 0 12px;

            &:before {
                height: inherit;
            }
        }

        .mdc-dialog__content {
            padding: 0 12px;
            position: relative;

            .attach-screenshot {
                right: 10px;
                bottom: 105px;
            }
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .review-actions {
                margin-top: -3px;
            }
        }

        .dialog-grid {
            width: 300px;
            height: 150px;
        }
    }
}
