<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath=""
        type="Advanced.CMS.ExternalReviews.ApprovalReviewsShellModule, Advanced.CMS.ExternalReviews">

  <assemblies>
    <add assembly="Advanced.CMS.ApprovalReviews" />
  </assemblies>

  <clientResources>
    <add name="AdvancedReviews" path="ClientResources/styles.css" resourceType="Style" />
  </clientResources>

  <clientModule initializer="advanced-cms-approval-reviews.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="AdvancedReviews" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-approval-reviews" path="ClientResources" />
    </paths>
 </dojo>
</module>
