<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath=""
        type="Advanced.CMS.ExternalReviews.AdvancedReviewsModule, Advanced.CMS.ExternalReviews">

  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="ReviewLocationPreviewPlugin" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>

  <assemblies>
    <add assembly="Advanced.CMS.ApprovalReviews" />
  </assemblies>

  <clientResources>
    <add name="AdvancedReviews" path="ClientResources/styles.css" resourceType="Style" />
  </clientResources>

  <clientModule initializer="advanced-cms-approval-reviews.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="AdvancedReviews" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-approval-reviews" path="ClientResources" />
    </paths>
 </dojo>
</module>
