.mdc-dialog {
    &.review-dialog {
        z-index: 750;

        .mdc-dialog__title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.25rem;
            line-height: 1rem;
            padding: 0 12px;

            &:before {
                height: inherit;
            }
        }

        .mdc-dialog__content {
            padding: 0 12px;
        }

        textarea {
            resize: none;
            min-height: auto;
        }

        .menu-button.mdc-icon-button {
            padding: 8px 4px 4px 4px;
            width: 40px;
            height: 40px;
        }

        .header {
            display: flex;
            justify-content: space-between;
        }

        .dialog-grid {
            width: 300px;
            height: 200px;
        }
    }
}
