<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0">
  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
  </clientResources>

  <clientModule initializer="alloy-review.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="alloy-review" path="Scripts" />
    </paths>
  </dojo>
</module>