.panel-container, .review-dialog {
    .location-comment-field {
        width: 100%;
        margin-top: 10px;

        textarea {
            resize: none;
            min-height: auto;
            height: 130px;
        }
    }

    .attach-screenshot {
        position: absolute;
        right: 0;
    }
}

.panel-container .attach-screenshot {
    bottom: 90px;
}

.review-dialog .attach-screenshot {
    top: 10px;
}
